/*.prodlist-body{
	margin-top: 40px
}*/
.panel-body h2{
	padding: 10px 10px 20px 10px
}
.body-wrapper{
	margin-top: 65px;
}
/*product table styles*/
.Table{
    display: table;
    width: 600px;
    margin-left: 240px;
}
.Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading{
    display: table-row;
    font-weight: bold;
    text-align: center;
	font-weight: normal;
	font-size: 15px;
 }
.Row{
   	display: table-row;
}
.Cell{
	display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.table-wrapper{
	padding: 1px 10px;
	font-weight: normal;
	font-size: 13px;
}
h5{
	font-size: 14px;
	text-align: center;
}

/***order details page styles**/

.table{
    display: table;
    height: 100%;
    max-height: 100%;
    width: 500px;
    table-layout: fixed;
    margin-left : 400px;
    
}

.tRow{
    display: table-row;
}

.tCell{
    display: table-cell;
}

.A{
    
}
.B {

    background: #fff;
}

.B .tCell{
    overflow: hidden;
}

.C{
    height: 50px;
    background: #fff;
}
h4{
	margin-left: 500px;
}
label{
	font-weight: normal;
}
.success{
	text-align: center;
	font-weight: bold;
		line-height: 20px;
}