/*.prodlist-body{
	margin-top: 40px
}*/
.panel-body h2{
	padding: 10px 10px 20px 10px
}
.body-wrapper{
	margin-top: 65px;
}
/*product table styles*/
.Table
    {
        display: table;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }